.inputtt{
    display: block;
    width: 600px;
    padding: 10px 5px;
    border-radius: 5px;
    margin: 0 auto;
    margin-bottom: 15px;
    margin-top: 50px;
}



.buttonn{
    width: 600px;
    margin: 0 auto;
    display: block;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 40px;
}