.vedio__title{
    width: 300px;
}
.vedio__imgg{
    width: 300px;
}

.videosCard{
    width: 1150px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
    justify-content: space-between;
}